* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.dropdown-content a:hover {background-color: #838383;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #41377a;}

.dropbtn {
    background-color: #2B2451;
    color: #a7c0ff;
    padding: 16px;
    font-size: 16px;
    border: 2px #6B87CC solid;
    border-radius: 15px;
}

.dropdown {
    display: inline-block;
    border-radius: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #cacaca;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

body {
    background-color: #001223;
}

button {
    background-color: #2B2451;
    color: #a7c0ff;
    padding: 16px;
    font-size: 16px;
    border: 2px #6B87CC solid;
    border-radius: 15px;
}

header {
    background-color: #32245d;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #201640;
    text-align: center;
    width: 100%;
}

section {
    padding: 20px;
}

img {
    margin: 5px;
}

.games {
    margin: 5px;
    border: 4px solid #5e6462;
    border-radius: 15px;
    width: 200px;
    display: inline-block;
}

.btn {
    transition: ease 0.25s;
    opacity: 1;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.75;
}

.div {
    border: 2px outset #5e6462;
    background-color: #6f757e;
    text-align: center;
    border-radius: 15px;
}

p {
    color: rgb(255, 255, 255);
    padding: 15px;
}

.social-icons {
    width: 48px;
    margin: 4px;
    padding: 6px;
    border: white 2px solid;
    border-radius: 16px;
    background-color: #1a0c48;
}

.socials {
    text-align: right;
    position: fixed;
}

.games-shelf {
    margin-inline: 10%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    border: 4px solid #4b3e73;
    border-radius: 32px;
}

.scrollable {
    display: inline-block;
    padding: 8px
}

h1 {
    color: white;
    margin-inline: 10%;
    margin-top: 32px;
    margin-bottom: 8px;
    font-weight: 100;
}

.empty {
    height: 128px;
}

.navbar-btn {
    margin-block: 4px;
}

.search {
    position: fixed;
    right: 16px;
    top: 11px;
    background-color: #001223;
    border: #887ec0 2px solid;
    border-radius: 16px;
    color: #d7d1fa;
    padding: 8px;
    width: 20%;
    user-select: none;
}