.frame {
    margin: 10%;
    padding: 32px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 4px solid #4b3e73;
    border-radius: 32px;
}

.play-btn {
    margin-top: 16px;
    background-color: #96ff96;
    border: 4px solid #304c30;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: #304c30;
    border-radius: 15px;
    user-select: none;
}

#play-btn-link {
    text-decoration: none;
}

.paragraph {
    display: flex;
    flex-wrap: wrap;
}

.paragraph > p {
    max-width: 50%;
}

.close-btn {
    position: fixed;
    right: 16px;
    top: 11px;
}

h1 {
    color: white;
    font-weight: 400;
    margin-bottom: 8px;
    margin-left: 8px;
}

.game-title {
    font-size: 48px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #001223;
}

button {
    background-color: #2B2451;
    color: #a7c0ff;
    padding: 16px;
    font-size: 16px;
    border: 2px #6B87CC solid;
    border-radius: 15px;
}

header {
    background-color: #32245d;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

nav {
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #201640;
    text-align: center;
    width: 100%;
}

section {
    padding: 20px;
}

img {
    margin: 5px;
}

.games {
    margin: 5px;
    border: 4px solid #5e6462;
    border-radius: 15px;
    height: fit-content;
    max-width: 100%;
}

.btn {
    transition: ease 0.25s;
    opacity: 1;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.75;
}

.div {
    border: 2px outset #5e6462;
    background-color: #6f757e;
    text-align: center;
    border-radius: 15px;
}

p {
    color: rgb(255, 255, 255);
    padding: 15px;
}

.social-icons {
    width: 48px;
    margin: 4px;
    padding: 6px;
    border: white 2px solid;
    border-radius: 16px;
    background-color: #1a0c48;
}

.socials {
    text-align: right;
    position: fixed;
}

.games-shelf {
    margin-inline: 10%;
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: hidden;
    border: 4px solid #4b3e73;
    border-radius: 32px;
}

.scrollable {
    display: inline-block;
    padding: 8px
}

.empty {
    height: 128px;
}

.navbar-btn {
    margin-block: 4px;
}