.body_but_different {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -8px;
    background-color: lightblue;
    overflow-x: hidden;
    overflow-y: hidden;
    word-wrap: break-word;
}

#body_but_different > div {
    overflow: hidden;
}

.top {
    background-color: black;
    color: white;
    height: 15%;
}

.sidebar {
    float: left;
    background-color: gray;
    height: 70%;
    width: 10%;
}

.content {
    background-color: gray;
    width: 102%;
    height: 70%;
    display: flex;
    flex: 3 3 100px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footer {
    float: left;
    background-color: black;
    color: white;
    width: 100%;
    height: 20%;
}

.bar {
    float: right;
    width: 10%;
    height: 100%;
    background-color: black;
}

.box {
    margin: 10px;
    float: left;
    border: solid 5px black;
    width: 108px;
    height: 100px;
    text-align: center;
    line-height: 60px;
}

.box2 {
    margin: 10px;
    float: left;
    border: solid 5px black;
    width: 450px;
    height: 140px;
    text-align: center;
    line-height: 100px;
}